In [3]:
import pandas as pd 
import numpy as np

# Cargamos el DataFrame
df = pd.read_csv('../data/pre-processed/dataframe.csv')

In [4]:
# Definimos los tipos de datos de las variables
var_types = {
    'month':'str',
    'gender':'str',                 
    'years':'float',  # Cambiado a 'float' para manejar NaN               
    'rol':'str',                  
    'sector':'str',               
    'n_employees':'str',       
    'lf_job':'bool',     
    'employment_source':'str',   
    'n_weeks_lf_job':'float',  # Cambiado a 'float' para manejar NaN   
    'edu_lvl':'str',      
    'etnicity':'str',            
    '1st_source':'float',  # Cambiado a 'float' para manejar NaN
    'total':'float',  # Cambiado a 'float' para manejar NaN
}

# Convertimos los valores nulos y espacios en blanco a NaN
df = df.replace(r'^\s*$', np.nan, regex=True)

# Convertimos las variables a los tipos de datos establecidos
df = df.astype(var_types)


print(f'tama単o del dataframe: {df.shape}\ntipos de datos:\n{df.dtypes}\n')

tama単o del dataframe: (1800, 13)
tipos de datos:
month                 object
gender                object
years                float64
rol                   object
sector                object
n_employees           object
lf_job                  bool
employment_source     object
n_weeks_lf_job       float64
edu_lvl               object
etnicity              object
1st_source           float64
total                float64
dtype: object

In [7]:
# FILTROS

# Filtramos las filas con valores menores a 16 a単os y mayores a 75 a単os
df = df[(df['years'] >= 16) & (df['years'] <= 75)]

# Filtramos valor de total es mayor a 100 y menor a 10000
df = df[(df['total'] >= 100) & (df['total'] <= 12000)]

#contamos los valores nulos por columna
print(f'valores nulos:\n{df.isnull().sum()}')

df.to_csv('../data/processed/df.csv', index=False)

valores nulos:
month                  0
gender                 0
years                  0
rol                    0
sector                 0
n_employees            0
lf_job                 0
employment_source      0
n_weeks_lf_job       883
edu_lvl                0
etnicity               0
1st_source             0
total                  0
dtype: int64