In [1]:
import pandas as pd 
import numpy as np

# Cargamos el DataFrame
df = pd.read_csv('../data/pre-processed/dataframe.csv')

In [2]:
# Definimos los tipos de datos de las variables
var_types = {
    'mes':'str',
    'sexo':'str',                 
    'edad':'float',  # Cambiado a 'float' para manejar NaN               
    'rol':'str',                  
    'sector':'str',               
    'tamano_empresa':'str',       
    'buscando_trabajo':'bool',     
    'detalle_busqueda':'str',   
    'semanas_busqueda':'float',  # Cambiado a 'float' para manejar NaN   
    'nivel_educativo':'str',      
    'etnicidad':'str',            
    'ingreso_principal':'float',  # Cambiado a 'float' para manejar NaN
    'ingreso_total':'float',  # Cambiado a 'float' para manejar NaN
}

# Convertimos los valores nulos y espacios en blanco a NaN
df = df.replace(r'^\s*$', np.nan, regex=True)

# Convertimos las variables a los tipos de datos establecidos
df = df.astype(var_types)


print(f'tama単o del dataframe: {df.shape}\ntipos de datos:\n{df.dtypes}\n')

tama単o del dataframe: (1400, 13)
tipos de datos:
mes                   object
sexo                  object
edad                 float64
rol                   object
sector                object
tamano_empresa        object
buscando_trabajo        bool
detalle_busqueda      object
semanas_busqueda     float64
nivel_educativo       object
etnicidad             object
ingreso_principal    float64
ingreso_total        float64
dtype: object

In [3]:
# FILTROS

# Filtramos las filas con valores menores a 16 a単os y mayores a 70 a単os
df = df[(df['edad'] >= 16) & (df['edad'] <= 75)]

# Filtramos valor de ingreso_total es mayor a 100 y menor a 10000
df = df[(df['ingreso_total'] >= 100) & (df['ingreso_total'] <= 10000)]

#contamos los valores nulos por columna
print(f'valores nulos:\n{df.isnull().sum()}')

df.to_csv('../data/processed/df.csv', index=False)

valores nulos:
mes                    0
sexo                   0
edad                   0
rol                    0
sector                 0
tamano_empresa         0
buscando_trabajo       0
detalle_busqueda       0
semanas_busqueda     722
nivel_educativo        0
etnicidad              0
ingreso_principal      0
ingreso_total          0
dtype: int64